body
{
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/code3background.jpg);
  background-size:cover;
	background-attachment:fixed;
	font-family:'Courgette',cursive;
	padding:0px;
	margin:0px;
	display:grid;
	grid-template-columns:33% 33% 34%;
	grid-template-rows:50px 1fr 50px;
}

/*********************
  FORM CONTAINER
*********************/

.container 
{
   grid-column:2;
   grid-row:2;
   border:solid 2px #8e8e8e;
    padding:20px;
	  border-radius:10px;
	  background: #030100c9;
	  box-shadow:0px 4px 9px 6px  #4a4a4a;
}

form 
{
   display:grid;
     grid-template-columns:repeat(auto-fit,minmax(50px,360px));
	 grid-template-rows:repeat(auto-fit,minmax(40px,1fr));
	 justify-content:center;

}

form>input,form>select
{
 
 grid-column:1;
 padding:10px;
 margin:10px;
 border-radius:5px;
 border:none;
 box-shadow:inset 1px 2px 5px 4px black;
 outline:none;
 font-size:1.1rem;
 font-family:inherit;

}

.logo
{
  color:transparent;
  font-weight:100;
  background:transparent;
  box-shadow:inset 2px 2px 20px 2px black;
  font-size:3.6rem;
  border-radius:5px;
  padding:10px;
  text-align:center;
  text-shadow:0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip:text !important;
  background-color: black;
  
}


/***********************
  NOTIFICATIONS
***********************/  

.notification
{
  color: white;
  background:red;
  text-align:center;
  font-size:25px;
  display:none;
  position:fixed;
  width:100%;
  padding:10px;
  margin:0px;
}

.inserted,.updated
{
   background: green;
}

/***********************
  MENU
***********************/ 


.menu
{
  grid-column:1/4;
  grid-row:5;
}

.menu h1
{
  color: #030100;
  background:#ffffffbd;
  width:250px;
  text-align:center;
  padding:8px;
  border:solid 1px rgb(8, 4, 0);
  clip-path: polygon(0% 0%,90% 0%,100% 50%,90% 100%,0% 100% );

}

.menu>div
{

    background: #c9c9c670;
    display:grid;
    padding:8px;
     /**box-shadow:inset 0px 0px 8px 2px saddlebrown;**/
    justify-content:center;
    text-align:center;
    grid-template-columns:repeat(auto-fit,minmax(200px,250px));
    grid-template-rows:repeat(auto-fit,minmax(50px,1fr));
    grid-gap:8px;
}

.product-box
{
  background: #080400b3;
  padding:5px;
  border-radius:5px;
  /**box-shadow:0px 0px 2px 3px black;**/
}

.price,.title
{
  color: white;
  font-size:1.6rem;
  text-align:center;
}

.title
{
   height:60px;
}

.inserted,.updated
{
   background: green;
}

.delete,.update
{
   background-size:contain;
   background-repeat:no-repeat;
   width:50px;
   height:50px;
   display:inline-block;
}

.delete:hover.update:hover
{
     cursor:pointer;
}


.image
{
   width:220px;
   height:auto;
   border-radius:5px;
   border:solid 1px white;
}

/***********************
  UPDATE FORM 
***********************/ 


#close-update
{
   border:solid 2px whitesmoke;
   border-radius:50px;
   width:50px;
   height:50px;
   line-height:1.2;
   margin:0 auto;
   text-align:center;
   font-family:cursive;
}

#for-update
{
   position: fixed;
   background: rgb(8, 4, 0);
   width: 50%;
   height:auto;
   display:none;

}

#close-update:hover
{
  cursor:pointer;
}

/***********************
  FOR SMALL SCREENS 
***********************/ 


@media(max-width:980px)
  {
     body
	 {
	    grid-template-columns:25% 50% 25%;
	 }
  
  }
  
@media(max-width:720px)
  {
     body
	 {
	    grid-template-columns:5% 90% 5%;
	 }
  
  }
  .header
  {
    width: 50px;
  height: 50px;
  /* Center vertically and horizontally */
  position: absolute;
  padding-bottom: 20px;
  left: 50%;
  margin: -25px 0 0 -25px;
  }


  .orders
  {
    grid-column: 2/3;
    grid-row: 2;
    background:white;
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
    border-radius: 10px;
  }

  .heading
  {
    background: black;
    color: white;
    font-size: 1.2rem;
    border-bottom: dashed 2px black;
  }

  .heading:hover, .over-details:hover, .order-id:hover{cursor: pointer;}

  .order-details
  {
    display: none;
    grid-column: 1/5;
    padding: 20px;
    background: black;
    font-size: 1.2rem;
    color: white;
  }

  .heading:not(:first-child)
  {
    border-left: dashed 1px white;
  }

.order-total
{
  margin: 38px;
}
.order-details div
{
  border-bottom:dashed 1px white;
}
.append-orders
{
  grid-column: 1/5;
}

#button {
  width: 6em;
  border: 2px solid green;
  background: #ffe;
  border-radius: 5px;
}
a {
  display: block;
  width: 100%;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
a:hover {
  color: red;
  background: #eff;
}